[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pdf2image = "*"
opencv-python = "*"
pillow = "*"
pytesseract = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
